[submodule "vendor/nwaku"]
	path = vendor/nwaku
	url = git@github.com:waku-org/nwaku.git
[submodule "vendor/logos-liblogos"]
	path = vendor/logos-liblogos
	url = git@github.com:logos-co/logos-liblogos.git
[submodule "vendor/logos-cpp-sdk"]
	path = vendor/logos-cpp-sdk
	url = git@github.com:logos-co/logos-cpp-sdk.git
